body{
  background: linear-gradient(to right,white,pink,yellow);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }100%{
    background-position: 100% 50%;
  }
}

.title{
  color: white;
  animation: textcolorshift 10s ease-in-out infinite;
  font-size: 50px;
}

@keyframes textcolorshift{
  0%{color: antiquewhite;}
  50%{color: grey;}
  100%{color: beige;}
}

button{
  padding: 10px 20px;
  font-size: 20px;
  background: linear-gradient(white,pink,white);
  border-radius: 20px;
  cursor: pointer;
}
button:hover{
  background: linear-gradient(pink,white,pink);
}